<style>
  .foto {
    height: 120px;
    width: 120px;
  }
</style>

<a href="#">
    <div class="place-info-box">
      <span class="place-info-box-icon"><img  class="foto" [src]="filme.imagem" ></span>

      <div class="place-info-box-content">
        <span class="place-info-box-text">{{filme.nome}}</span>
        <span class="place-info-box-star"><i class="fa fa-star"></i>{{filme.avaliacao}}</span>
        <span class="place-info-box-detail">{{filme.categoria}}</span>
      </div>
      <!-- /.info-box-content -->
    </div>
  </a>
